/* В CSS модулях не используются селекторы тэгов */

.container {
  position: relative;
  display: inline-block;
}

.button {
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 40px;
  width: 50px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  z-index: 2;
  border: 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 24px 2 rgba(0, 0, 0, 0.14);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  padding: 8px 12px;
}

.menuItem:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
